<!DOCTYPE html>
<html>
  <head>
    <title>Tycoon Lagoon - Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="center">
      <h1>Well... this is awkward</h1>
      <h3>The page you tried to access returned an error:</h3>
      <h2><%= error.status %> - <%= message %></h2>
      <br/>
      <h2><a href="/">Take me home, country road!</a></h2>
    </div>
  </body>
</html>
