table {
  border-collapse: collapse;
  width: 60%;
  padding-bottom: 50px;
  table-layout: fixed;
  margin-bottom: 25px;
}

td, th {
  border: 1px solid #1F1F1F;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #070707;
}